<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaomin.crm.mapper.ContactMapper">

	<delete id="delete">
		delete from contacts c
		where c.id = #{id}
	</delete>

	<update id="update">
		update contacts c set 
        c.memo = #{memo},
        c.mobile = #{mobile},
        c.name = #{name},
        c.position = #{position},
        c.sex = #{sex},
        c.tel = #{tel} 
        where c.id = #{id}
	</update>

	<select id="getWithCustById" resultType="com.gaomin.crm.entity.Contact" >
		select 
		c.id,
        c.memo,
        c.mobile,
        c.name,
        c.position,
        c.sex,
        c.tel,
        c.customer_id as "customer.id"
        from contacts c
        where c.id = #{id}
	</select>

	<insert id="create">
		insert into contacts(id,name,sex,position,tel,mobile,memo,customer_id)
		values(crm_contact_seq.nextval,#{name},#{sex},#{position},
		#{tel},#{mobile},#{memo},#{customer.id})
	</insert>

	<select id="getContent" resultType="com.gaomin.crm.entity.Contact">
		select *
  		from (select rownum rn,
               c.id,
               c.memo,
               c.mobile,
               c.name,
               c.position,
               c.sex,
               c.tel
          from contacts c
          <include refid="queryCondition"/>)
          <![CDATA[
	          where rn >= #{fromIndex} and rn < #{endIndex}
          ]]>
	</select>

	<select id="getTotalElements" resultType="int">
		select count(*)
		from contacts c
		<include refid="queryCondition"/>
	</select>
	
	<sql id="queryCondition">
		<where>
			<if test="custId != null">
				c.customer_id = #{custId}
			</if>
		</where>
	</sql>

	<select id="getContactsByCustId" resultType="com.gaomin.crm.entity.Contact">
		select c.id,c.name
		from contacts c
		where c.customer_id = #{custId}
	</select>

	<insert id="saveForFinish">
		insert into contacts (id,name,tel,customer_id) 
		values(crm_contact_seq.nextval,#{name},#{tel},#{customer.id})
	</insert>
</mapper>