<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaomin.crm.mapper.CustomerServiceMapper">

	<select id="getById" resultType="com.gaomin.crm.entity.CustomerService">
		select cs.id,
		       cs.service_type,
		       cs.service_title,
		       cs.service_state,
		       c.name as "customer.name",
		       u.name as "createdby.name",
		       cs.create_date,
		       cs.allot_date,
		       cs.deal_date,
		       cs.deal_result,
		       cs.satisfy,
		       cs.service_deal,
		       cs.service_request,
		       ua.name as "allotTo.name"
		  from customer_services cs
		  left join customers c on cs.customer_id = c.id
		  left join users u on cs.created_id = u.id
		  left join users ua on cs.allot_id = ua.id
		  where cs.id = #{id}
	</select>

	<delete id="delete">
		delete from customer_services cs
		where cs.id = #{id}
	</delete>

	<update id="update">
		update customer_services cs
		<set>
			<if test="serviceState == '已分配'">
				cs.service_state = #{serviceState},
				cs.allot_id = #{allotTo.id},
				cs.allot_date = #{allotDate}
			</if>
			<if test="serviceState == '已处理'">
				cs.service_state = #{serviceState},
				cs.service_deal = #{serviceDeal},
				cs.deal_date = #{dealDate}
			</if>
			<if test="serviceState == '已归档'">
				cs.service_state = #{serviceState},
				cs.deal_result = #{dealResult},
				cs.satisfy = #{satisfy}
			</if>
		</set>
		where cs.id = #{id}
	</update>

	<select id="getContent" resultType="com.gaomin.crm.entity.CustomerService">
		select cs.id,
		       cs.service_type,
		       cs.service_title,
		       cs.service_state,
		       c.name as "customer.name",
		       u.name as "createdby.name",
		       cs.create_date,
		       cs.allot_date,
		       cs.deal_date,
		       cs.deal_result,
		       cs.satisfy,
		       cs.service_deal,
		       cs.service_request,
		       ua.name as "allotTo.name"
		  from customer_services cs
		  left join customers c on cs.customer_id = c.id
		  left join users u on cs.created_id = u.id
		  left join users ua on cs.allot_id = ua.id
		<include refid="queryCondition"/>
		LIMIT ${fromIndex} , ${endIndex}
	</select>

	<select id="getTotalElements" resultType="int">
		select count(*) 
		from customer_services cs
		left join customers c 
		on cs.customer_id = c.id
		left join users u
		on cs.created_id = u.id
		left join users ua 
		on cs.allot_id = ua.id
		<include refid="queryCondition"/>
	</select>
	
	<sql id="queryCondition">
		<where>
			<if test="type == 'allot'">
				and cs.allot_id is null
				and cs.service_state = '新创建'
			</if>
			<if test="type == 'deal'">
				and cs.allot_id is not null
				and cs.service_state = '已分配'
			</if>
			<if test="type == 'feedback'">
				and cs.allot_id is not null
				and cs.service_state = '已处理'
			</if>
			<if test="type == 'archive'">
				and cs.allot_id is not null
				and cs.service_state = '已归档'
			</if>
			<if test="serviceType != null">
				and cs.service_type like #{serviceType}
			</if>
			<if test="customerName != null">
				and c.name like #{customerName}
			</if>
			<if test="serviceTitle != null">
				and cs.service_title like #{serviceTitle}
			</if>
			<if test="createDateGt != null">
				and cs.create_date >= #{createDateGt}
			</if>
			<if test="createDateLt != null">
				<![CDATA[
				and cs.create_date <= #{createDateLt}
				]]>
			</if>
		</where>
	</sql>

	<insert id="create">
		insert into customer_services(create_date,
		service_request, service_state, service_title,
		service_type, created_id, customer_id)
		values(#{createDate},#{serviceRequest},
		#{serviceState},#{serviceTitle},#{serviceType},
		#{createdby.id},#{customer.id})
	</insert>
</mapper>