<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaomin.crm.mapper.SalesPlanMapper">

	<update id="updateResult">
		update sales_plan set plan_result = #{result}
		where id = #{id}
	</update>

	<delete id="deletePlan">
		delete from sales_plan
		where id = #{id}
	</delete>

	<update id="updatePlan">
		update sales_plan set todo = #{todo}
		where id = #{id}
	</update>

	<insert id="save" >
		<selectKey order="BEFORE" keyProperty="id" resultType="long">
			select CRM_PLAN_SEQ.nextval from dual
		</selectKey>
		insert into sales_plan (id,plan_date,todo,chance_id)
		values(#{id},#{date},#{todo},#{chance.id})
	</insert>

</mapper>